language: android
sudo: false
android:
  components:
    # Uncomment the lines below if you want to
    # use the latest revision of Android SDK Tools
    - tools
    - platform-tools

    # The BuildTools version used by your project
    - build-tools-26.0.2

    # The SDK version used to compile your project
    - android-26

    - extra-android-m2repository
    - extra-google-android-support

    # Specify at least one system image,
    # if you need to run emulator(s) during your tests
    - sys-img-x86-android-26

licenses:
  - 'android-sdk-preview-license-.+'
  - 'android-sdk-license-.+'
  - 'google-gdk-license-.+'

before_install:
- yes | sdkmanager "platforms;android-27"

install:
  - true

script:
# go and test other modules before going on to app, can only have one travis file per repo.
- cd dmz && ../gradlew -i build && ../gradlew -i test && cd ..
- cd lib && ../gradlew -i build && ../gradlew -i test && cd ..
- cd util && ../gradlew -i build && ../gradlew -i test && cd ..
- ./gradlew build

after_success:
 - bash <(curl -s https://codecov.io/bash)
