<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-4.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
  xmlns:th="http://www.thymeleaf.org">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <head>
    <title th:text="${error}">Error</title>
    <link rel="stylesheet" th:href="@{css/bootstrap.min.css}"/>
    <link rel="stylesheet" th:href="@{css/error.css}"/>
  </head>
  <body>
    <header class="main">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <div class="header-content">
              <b><h1 th:text="${error}">Error</h1></b>
              <br>
              <p th:text="${message}">Error Message</p>
            </div>
          </div>
        </div>
      </div>
    </header>
    <footer class="footer">
      <p>Time: <dd th:text="${timestamp}"></dd></p>
      <p>Path:  <dd th:text="${path}"></dd></p>
      <p>Message: <dd th:text="${message}"></dd></p>
    </dl>
  </footer>
</body>
</html>