<!DOCTYPE HTML>
<html xmlns:th="http://app.alphawallet.io">
<link rel="icon" type="image/png" sizes="96x96" href="../alphafavicon.ico.png">
<head>
    <title>AlphaWallet Import Ticket</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <p th:text="'Information for the ticket you decoded: ' + ${base64} + ' '" />
    <p th:text="'Contract Address: ' + ${contractAddress} + ' '" />
    <p th:text="'Eth Value of order: ' + ${ethValue} + ' '" />
    <p th:text="'Owner Address: ' + ${ownerAddress} + ' '" />
    <p th:text="'Number of tickets: ' + ${ticketCount} + ' '" />
</body>
</html>
