<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<head>
    <style type="text/css">
        %2$s
    </style>
    <title>%1$s</title>
    <link rel="stylesheet" href="css/bootstrap.min.css"/>
    <link rel="stylesheet" href="css/main.css"/>
</head>
<header class="main">
    <div class="container h-100">
        <div class="row h-100">
            <div class="col-lg-7">
                <div class="header-content">
                    <body>
                    <h1><strong class="purchase mb-5" style="font-weight: 300;" >%3$s</strong>
                        <em class="purchase mb-5" style="font-weight: 300;" >%4$s</em>
                        <strong class="purchase mb-5" style="font-weight: 300;" >%5$s</strong>
                    </h1>
                    <br>
                    <div class="ticket-table mb-5">
                        <p id="price"><strong>%6$s</strong>
                            <strong class="ml-5" id="status" style="float: right;">%7$s</strong>
                        </p>
                        <hr>
                        <p>
                            <strong>%8$s</strong>
                            <strong>%9$s</strong>
                            <em></em>
                        </p>
                        <dl class="inline-box">
                            %10$s
                        </dl>
                        <p>Available till %11$s</p>
                        </span>
                    </div>
                    <h2 class="mb-2" style="font-weight: 600; font-size: 20px;">How to purchase tickets:</h2>
                    <br>
                    <h3 class="mb-2" style="font-weight: 600; font-size: 20px;">Step 1</h3>
                    <p class="mb-3" style="font-weight: 300;">Download the AlphaWallet app to purchase tickets!</p>
                    <p id="download_app">
                        <a href="https://play.google.com/store/apps/details?id=io.stormbird.wallet">
                            <img width="117" height="40" alt="Google Playstore"
                                 src="/images/googleplay.png"/>
                        </a>
                        <a href="https://itunes.apple.com/app/alphawallet/id1358230430?mt=8">
                            <img class="ml-2" width="117" height="40" alt="App Store"
                                 src="/images/appstore.png"/>
                        </a>
                    </p>
                    <br>
                    <h3 class="mt-3 mb-2" style="font-weight: 600; font-size: 20px;">Step 2</h3>
                    <form id="view_listing"
                          action=%12$s
                          onsubmit="
              this.elements['uri'].select();
              clipboard.writeText(this.elements['uri'].value);
              this.elements['message'].hidden = false;
              this.elements['uri'].hidden     = true;
              //this.elements['submit'].hidden  = true;
              return false;"
                    >
                        <p class="mb-3" style="font-weight: 300;">Once you've downloaded the app on your phone,
                            copy this link and switch to the app.</p>
                        <input name="uri" readonly="readonly" id="uri" value=%13$s class="form-control-tx form-control-lg" />
                        <input name="message" readonly="readonly" id="message" hidden="hidden" value="Link copied to clipboard." class="form-control-tx form-control-lg"/>
                        <input name="submit" type="submit" id="clipboard-button" value="Copy to Clipboard" class="btn-y btn-xl"/>
                    </form>
                    <br>
                    <hr>
                    <h5 class="mt-4 mb-2"><b>Owner's Ethereum Address</b></h5>
                    <a href=%14$s><h5 style="font-size: 12px;" class="mb-4">%15$s</h5></a>
                    <h5 class="mb-2"><b>Contract Address</b></h5>
                    <a href=%16$s><h5 style="font-size: 12px;">%17$s</h5></a>
                    <br>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="device-container">
                    <img class="device-img" src="images/app_preview.png" />
                </div>
            </div>
            <div id="root"></div>
        </div>
    </div>
    </div>
    </div>
</header>
</body>
</html>