<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.wallet.crypto.trustapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        tools:replace="android:name"
        android:theme="@style/AppTheme"
	    >
        <activity
            android:name=".views.TransactionListActivity"
            android:configChanges="orientation|screenSize"
            android:label="@string/title_trust"
            />
        <activity
            android:name=".views.TransactionDetailActivity"
            android:label="@string/title_item_detail"
            android:parentActivityName=".views.TransactionListActivity"
            >
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wallet.crypto.trustapp.views.TransactionListActivity" />
        </activity>
        <activity
            android:name=".views.CreateAccountActivity"
            android:label="@string/title_activity_create_account"
            />
        <activity
            android:name=".views.SendActivity"
            android:label="@string/title_send"
            />
        <!--<activity
            android:name=".views.AccountListActivity"
            android:label="@string/title_account_list"
            android:theme="@style/AppTheme.NoActionBar" />-->
        <activity
            android:name=".views.ImportAccountActivity"
            android:label="@string/title_activity_import_account"
            />
        <activity
            android:name=".views.ExportAccountActivity"
            android:label="@string/title_activity_export_account"
            />
        <activity
            android:name=".views.IntroActivity"
            android:label="@string/app_intro"
            />
        <activity
            android:name=".views.barcode.BarcodeCaptureActivity"
            />
        <activity
            android:name=".views.RequestActivity"
            android:label="@string/title_request" />
        <activity
            android:name=".views.SplashActivity"
            android:theme="@style/SplashTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".views.SettingsActivity"
            android:label="@string/title_activity_settings">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.wallet.crypto.trustapp.views.TransactionListActivity" />
        </activity>
        <activity
            android:name=".views.WarningBackupActivity"
            />
        <activity
            android:name=".views.TokenListActivity"
            android:label="@string/title_activity_token_list"
            />

        <activity
            android:name=".ui.ManageWalletsActivity"
            android:label="@string/title_account_list"
            />

        <activity
            android:name=".ui.ImportWalletActivity"
            android:label="@string/title_import"
            android:windowSoftInputMode="stateAlwaysVisible|adjustResize"
            />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="74d3fa8b5038a154c0c05555d27112a0d4a80d68" />
    </application>

</manifest>
