@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
html,
body {
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9855393ac9c672a09f2329b76d0d560ac926733f
  min-height: 100%;}


body {
    background-image: url('/images/alogobg.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 280px;
    background-attachment: fixed;
    background-color: #56C9E9;
    font-family: "Source Sans Pro", sans-serif; }
    @media (min-width: 992px) { 
      body {
      background-image: url('/images/alogobg.png');
      background-repeat: no-repeat;
      background-position: 630px 200px;
      background-attachment: fixed;
      background-size: 50%;
      background-color: #56C9E9; } }


header.main {
  width: 100%;
  color: white; }
  header.main .header-content {
  margin-top: 50px;
  max-width: 100%;
  text-align: center; }
    header.main .header-content h1 {
      font-size: 68px; }
          header.main .header-content p {
      font-size: 22px; }
      @media (min-width: 992px) { 
        header.main {
  width: 100%;
  color: white; }
  header.main .header-content {
  margin-top: 150px;
<<<<<<< HEAD
=======
=======
    width: 100%;
  height: 100%;
  padding-top: 25px; }


h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Source Sans Pro", sans-serif;
  margin-bottom: 1rem; }


header.main {
  position: relative;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 80px;
  color: #333; }
  header.main .header-content {
>>>>>>> 288acd6cefbbcac82e35a9c6df1fed94d0e05ee7
>>>>>>> 9855393ac9c672a09f2329b76d0d560ac926733f
  max-width: 100%;
  text-align: center; }
    header.main .header-content h1 {
      font-size: 72px; }
          header.main .header-content p {
      font-size: 24px; }
<<<<<<< HEAD
=======
<<<<<<< HEAD
>>>>>>> 9855393ac9c672a09f2329b76d0d560ac926733f
      }


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 120px; /* Set the fixed height of the footer here */
}

.footer p {
  font-size: 12px;
  margin-left: 2em;
  color: white;
<<<<<<< HEAD
=======
=======
  @media (min-width: 992px) {
    header.main {
      height: 100vh;
      max-height: 562px;
      padding-top: 0;
      padding-bottom: 0; }
      header.main .header-content {
        width: 100%;
        margin-bottom: 50px;
        margin-left: 30px; }
        header.main .header-content h1 {
          font-size: 120px;
          margin: 0; }
      header.main .device-container {
        max-width: 325px;
        margin-left: 4em; } }


#view_listing a {
  background-color: goldenrod;
  font-weight: bold;
  border-radius: 0.5em;
  padding: 1ex 3em; }

#view_listing :link {
  text-decoration: none; }

#view_listing :visited {
  text-decoration: none; }

.ticket-table {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border: solid 1px #f3f3f3;
  padding: 1em; }
    @media (min-width: 992px) {
.ticket-table {
  width: 346px;
  border-radius: 20px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border: solid 1px #f3f3f3;
  padding: 1.5em; } }

.box-img {
  margin-left: 1em;
  height: 20px;
  width: 20px; }
@media (min-width: 992px) {
.box-img {
  margin-top: 1em;
  margin-left: 0;
  height: 25px;
  width: 25px; } }

.device-img {
  width: 90%; }
@media (min-width: 992px) {
.device-img {
  width: 73%; } }

#status {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-variant: small-caps;
  border-radius: 8px;
  padding-left: 1ex;
  padding-right: 1ex; }

.available #status {
  background: #75b943;
  color: white; }

.unavailable #status {
  background-color: #E70000;
  color: white; }

.expired #status {
  background-color: #800000;
  color: silver; }

.btn-y {
display: inline-block;
background-color: #f9d021;
font-family: "Source Sans Pro", sans-serif;
border-radius: 18.7px;
border: 0;
color: white;
margin-top: none;
margin-right: auto;
margin-left: 15px; }
@media (min-width: 992px) {
      .btn-y {
          background-color: #f9d021;
          font-family: "Source Sans Pro", sans-serif;
          border-radius: 18.7px;
          border: 0;
          color: white;
          margin-top: 1em;
          margin-right: auto;
          margin-left: auto;
        } }


.btn-xl {
font-size: 16px;
padding: 8px 70px;
font-weight: 300; }
    @media (min-width: 992px) {
    .btn-xl {
      font-size: 16px;
      padding: 10px 100px;
      font-weight: 300;
    } }

dt, dd {
    display: inline;
}
dd {
    margin-left: 0em;
    padding-left: -1ex;
    padding-right: 1em;
}
    @media (min-width: 992px) {
        dt, dd {
            display: inline-block;
        }
        dd {
            margin-left: 0em;
            padding-left: 1ex;
            padding-right: 1em;
        } }


.purchase {
font-size: 30px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #2f2f2f; }
    @media (min-width: 992px) {
    .purchase {
      font-size: 38px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2f2f2f;
    } }

.form-control-tx {
display: block;
width: 90%;
padding: .375rem .75rem;
margin: 15px;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #f0f0f0;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
    @media (min-width: 992px) {
        .form-control-tx {
            display: block;
            margin: 0;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #f0f0f0;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            } }

footer {
  color: white;
  background: #333;
  bottom: 0;
  left: 0;
  padding: 20px 0;
  right: 0;
  text-align: center;
>>>>>>> 288acd6cefbbcac82e35a9c6df1fed94d0e05ee7
>>>>>>> 9855393ac9c672a09f2329b76d0d560ac926733f
}
