@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
html,
body {
  width: 100%;
  height: 100%; }

body {
  background-image: url('logo.png');
  background-size: 40px 28px;
  background-position: 28px 30px;
  background-repeat: no-repeat;
  padding-top: 100px;
  padding-bottom: 0;
  font-family: "Source Sans Pro", sans-serif;
  color: #2f2f2f; }
    @media (min-width: 992px) {
        body {
          background-image: url('logo.png');
          padding-top: 150px;
          background-size: 40px 28px;
          background-position: 110px 60px;
          background-repeat: no-repeat;
          padding-bottom: 50px; } }

h1,
h2,
h3,
h4,
h5,
h6,
p {
  font-family: "Source Sans Pro", sans-serif;
  color: "Source Sans Pro", sans-serif;
  margin-bottom: 1rem; }


header.main {
  position: relative;
  width: 100%;
  padding-top: 0px;
  padding-bottom: 80px;
  color: #2f2f2f; }
  header.main .header-content {
  max-width: 800px;
  margin-bottom: 100px; }
    header.main .header-content h1 {
      font-size: 18px;
      margin: 15px; }
      header.main .header-content h2, h3, p {
      margin: 15px; }
      header.main .header-content h5 {
      margin-left: 15px;
      font-size: 16px; }
  header.main .device-container {
    max-width: 325px;
    margin-right: auto;
    margin-left: 1.8em; }
  @media (min-width: 992px) {
    header.main {
      height: 100vh;
      min-height: 775px;
      padding-top: 0;
      padding-bottom: 0; }
      header.main .header-content {
        width: 500px;
        margin-bottom: 50px;
        margin-left: 30px; }
        header.main .header-content h1 {
          font-size: 30px;
          margin: 0; }
          header.main .header-content h2, h3, h5, p {
          margin: 0; }
          header.main .header-content h5 {
          margin: 0; }
      header.main .device-container {
        max-width: 325px;
        margin-left: 4em; } }


#view_listing a {
  background-color: goldenrod;
  font-weight: bold;
  border-radius: 0.5em;
  padding: 1ex 3em; }

#view_listing :link {
  text-decoration: none; }

#view_listing :visited {
  text-decoration: none; }

.ticket-table {
  width: 100%;
  border-radius: 20px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border: solid 1px #f3f3f3;
  padding: 1em; }
    @media (min-width: 992px) {
.ticket-table {
  width: 346px;
  border-radius: 20px;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  border: solid 1px #f3f3f3;
  padding: 1.5em; } }

 .inline-box {
  margin-top: 0;
}
  @media (min-width: 992px) {
     .inline-box {
  margin-top: 1em;
  position: relative;
  display: inline-block;
} }


.box-img {
  margin-left: 1em;
  height: 16px;
  width: 16px; }
@media (min-width: 992px) {
.box-img {
  margin-left: 0;
  height: 20px;
  width: 20px; } }



.device-img {
  width: 90%; }
@media (min-width: 992px) {
.device-img {
  width: 73%; } }

#status {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 15px;
  font-variant: small-caps;
  border-radius: 8px;
  padding-left: 1ex;
  padding-right: 1ex; }

.available #status {
  background: #75b943;
  color: white; }

.unavailable #status {
  background-color: #E70000;
  color: white; }

.expired #status {
  background-color: #800000;
  color: silver; }

.btn-y {
display: inline-block;
background-color: #f9d021;
font-family: "Source Sans Pro", sans-serif;
border-radius: 18.7px;
border: 0;
color: white;
margin-top: none;
margin-right: auto;
margin-left: 15px; }
@media (min-width: 992px) {
      .btn-y {
          background-color: #f9d021;
          font-family: "Source Sans Pro", sans-serif;
          border-radius: 18.7px;
          border: 0;
          color: white;
          margin-top: 1em;
          margin-right: auto;
          margin-left: auto;
        } }


.btn-xl {
font-size: 16px;
padding: 8px 70px;
font-weight: 300; }
    @media (min-width: 992px) {
    .btn-xl {
      font-size: 16px;
      padding: 10px 100px;
      font-weight: 300;
    } }

dt, dd {
    display: inline;
}
dd {
    margin-left: 0em;
    padding-left: -1ex;
    padding-right: 1em;
}
    @media (min-width: 992px) {
        dt, dd {
            display: inline-block;
        }
        dd {
            margin-left: 0em;
            padding-left: 1ex;
            padding-right: 1em;
        } }


.purchase {
font-size: 30px;
font-weight: 300;
font-style: normal;
font-stretch: normal;
line-height: normal;
letter-spacing: normal;
color: #2f2f2f; }
    @media (min-width: 992px) {
    .purchase {
      font-size: 38px;
      font-weight: 300;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #2f2f2f;
    } }

.form-control-tx {
display: block;
width: 90%;
padding: .375rem .75rem;
margin: 15px;
font-size: 1rem;
line-height: 1.5;
color: #495057;
background-color: #f0f0f0;
background-clip: padding-box;
border: 1px solid #ced4da;
border-radius: .25rem;
transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out; }
    @media (min-width: 992px) {
        .form-control-tx {
            display: block;
            margin: 0;
            width: 100%;
            padding: .375rem .75rem;
            font-size: 1rem;
            line-height: 1.5;
            color: #495057;
            background-color: #f0f0f0;
            background-clip: padding-box;
            border: 1px solid #ced4da;
            border-radius: .25rem;
            transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
            } }
