// Variables

// Blue and Brand Colors for use across Alpha Wallet theme

$theme-primary: #54c1e3;

// Main Typography
@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700);
$body-font: 'Source Sans Pro', sans-serif;
$body-color: #2f2f2f;

// Button
$cta-btn: #f9d021;
$green-btn: #75b943;
$red-btn: #E70000;