name: Check code format
on:
  pull_request:
jobs:
  lint:
    name: Check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16
      - name: Install dependencies
        run: npm install
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v34
      - name: Check all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            npx ec "$file" >> format-error.txt
          done
          if [[ -s "format-error.txt" ]]; then
            exit 1
          else
            exit 0
          fi
      - name: Collect results
        if: ${{ failure() }}
        uses: actions/upload-artifact@v1
        with:
          name: format-error
          path: format-error.txt

