name: Check code format
on:
  pull_request:
jobs:
  lint:
    name: Check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ ubuntu-latest, windows-latest, macos-latest ]
    steps:
      - uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Setup NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 16
        run: npm install
      - name: Get changed files
        id: changed-files
        uses: tj-actions/changed-files@v34
      - name: Check all changed files
        run: |
          for file in ${{ steps.changed-files.outputs.all_changed_files }}; do
            npx ec "$file"
          done